<?xml version="1.0" encoding="utf-8"?>
<!--
     SPDX-FileCopyrightText: 2023 The LibreMobileOS Foundation
     SPDX-FileCopyrightText: 2024 DerpFest AOSP
     SPDX-License-Identifier: Apache-2.0
-->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="com.android.settings">

    <!-- LineageHardware -->
    <uses-permission android:name="lineageos.permission.HARDWARE_ABSTRACTION_ACCESS" />

    <!-- LiveDisplay -->
    <uses-permission android:name="lineageos.permission.MANAGE_LIVEDISPLAY" />

    <!-- App lock -->
    <uses-permission android:name="com.android.permission.MANAGE_APP_LOCK" />

    <application>

        <activity android:name=".password.ChooseLockPatternSize"
            android:exported="false"
            android:theme="@style/GlifTheme.Light" />

        <!-- App lock -->
        <activity android:name=".security.applock.AppLockCredentialActivity"
            android:exported="false"
            android:permission="com.android.permission.MANAGE_APP_LOCK"
            android:excludeFromRecents="true"
            android:stateNotNeeded="true"
            android:taskAffinity="com.android.settings.applock"
            android:launchMode="singleInstance"
            android:theme="@android:style/Theme.Translucent.NoTitleBar">
            <intent-filter>
                <action android:name="org.derpfest.applock.action.UNLOCK_APP" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity android:name=".security.applock.AppLockSubSettings"
            android:exported="false"
            android:excludeFromRecents="true"
            android:taskAffinity="com.android.settings.applock"
            android:launchMode="singleTask" />

        <activity
            android:name="Settings$RefreshRateSettingsActivity"
            android:label="@string/refresh_rate_title"
            android:exported="true">
            <intent-filter android:priority="32">
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.android.settings.SHORTCUT" />
            </intent-filter>
            <intent-filter android:priority="1">
                <action android:name="android.settings.REFRESH_RATE_SETTINGS" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <meta-data android:name="com.android.settings.FRAGMENT_CLASS"
                android:value="com.android.settings.display.RefreshRateSettings" />
            <meta-data android:name="com.android.settings.HIGHLIGHT_MENU_KEY"
                       android:value="@string/menu_key_display"/>
            <meta-data android:name="com.android.settings.PRIMARY_PROFILE_CONTROLLED"
                android:value="true" />
        </activity>

        <!-- Provide direct entry into Dev settings - Running Services -->
        <activity android:name="Settings$DevRunningServicesActivity"
                android:label="@string/runningservices_settings_title"
                android:theme="@style/Theme.SubSettingsBase"
                android:enabled="true"
                android:exported="true"
                android:excludeFromRecents="true"
                android:taskAffinity="com.android.settings"
                android:parentActivityName="Settings">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.MONKEY" />
                <category android:name="android.intent.category.VOICE_LAUNCH" />
            </intent-filter>
            <meta-data android:name="com.android.settings.FRAGMENT_CLASS"
                android:value="com.android.settings.applications.RunningServices" />
            <meta-data android:name="com.android.settings.PRIMARY_PROFILE_CONTROLLED"
                android:value="true" />
        </activity>

    </application>

</manifest>
